**Name - SAWANT SWARA ANANT                                                   
              Reg No - 20BCE0779                                                    
SmartBridge Externship Program - AI                                    
                Assignment - 1**

**Task 1** - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import numpy as np
import pandas as pd

#Creating 4 series with 4 random values in each

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

# Creating dataframe with the series

df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.380945  0.236115  0.954844  0.715750
1  0.920363  0.002275  0.091565  0.794361
2  0.102387  0.299435  0.937386  0.704058
3  0.865172  0.259549  0.334595  0.670791

**Task 2** -  Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
#changing column names

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.380945        0.236115        0.954844        0.715750
1        0.920363        0.002275        0.091565        0.794361
2        0.102387        0.299435        0.937386        0.704058
3        0.865172        0.259549        0.334595        0.670791

**Task 3** - Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.567217        0.199344        0.579597        0.721240
std          0.393384        0.133954        0.434751        0.052336
min          0.102387        0.002275        0.091565        0.670791
25%          0.311305        0.177655        0.273838        0.695741
50%          0.623058        0.247832        0.635991        0.709904
75%          0.878969        0.269520        0.941750        0.735403
max          0.920363        0.299435        0.954844        0.794361

**Task 4** - Check for the null values in 'df' and find the data type of the columns.

In [ ]:
#df.isnull() -> gives output i boolean

df.isnull().sum()

In [ ]:
#Checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

**Task 5** - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
df.loc[0:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.236115        0.954844
1        0.002275        0.091565
2        0.299435        0.937386
3        0.259549        0.334595

In [ ]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.236115        0.954844
1        0.002275        0.091565
2        0.299435        0.937386
3        0.259549        0.334595