1. Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = np.random.randn(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
print(df)

   Feature1  Feature2  Feature3  Feature4
0  1.533463  0.794252 -0.550936 -0.278315
1 -0.298576 -0.488182  0.609604  0.870409
2 -0.025690  1.013421  0.722952 -0.253719
3 -0.262180 -0.539625 -0.859384 -0.781713

2. Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df = df.rename(columns={'Feature1': 'Random value 1',
                        'Feature2': 'Random value 2',
                        'Feature3': 'Random value 3',
                        'Feature4': 'Random value 4'})
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        1.533463        0.794252       -0.550936       -0.278315
1       -0.298576       -0.488182        0.609604        0.870409
2       -0.025690        1.013421        0.722952       -0.253719
3       -0.262180       -0.539625       -0.859384       -0.781713

3. Find the descriptive statistics of the 'df' dataframe.

In [ ]:
statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.236754        0.194967       -0.019441       -0.110834
std          0.872897        0.823676        0.803085        0.697945
min         -0.298576       -0.539625       -0.859384       -0.781713
25%         -0.271279       -0.501042       -0.628048       -0.404165
50%         -0.143935        0.153035        0.029334       -0.266017
75%          0.364098        0.849045        0.637941        0.027313
max          1.533463        1.013421        0.722952        0.870409

4. Check for the null values in 'df' and find the data type of the columns.

In [ ]:
null_values = df.isnull().sum()
print("Null values:")
print(null_values)

Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
data_types = df.dtypes
print("\nData types:")
print(data_types)

Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

5. Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print("Columns using the location method:")
print(columns_loc)

Columns using the location method:
   Random value 2  Random value 3
0        0.794252       -0.550936
1       -0.488182        0.609604
2        1.013421        0.722952
3       -0.539625       -0.859384

In [ ]:
columns_iloc = df.iloc[:, [1, 2]]
print("\nColumns using the index location method:")
print(columns_iloc)

Columns using the index location method:
   Random value 2  Random value 3
0        0.794252       -0.550936
1       -0.488182        0.609604
2        1.013421        0.722952
3       -0.539625       -0.859384